body,html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    margin: 0;
    background-color: rgb(237, 237, 237);
    
}

a{
    text-decoration: none;
}

/* navigation bar */
nav{
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-around;
    background-color:rgb(247, 247, 247) ;
    margin: 0;
    font-size: 1.3rem;
}

nav>a{
    padding: 20px 20px;
    border-radius: 5px;
    margin: 0;
    transition: 0.6s ease all;
}

nav>a:hover{
    background-color: rgb(209, 205, 205);
}

nav:active{
    font-size: 1.5rem;
}


h1{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 2px 1px #000000;
}

main{
    padding: 0 20px;

}

/* my bio card and profile picture */
.myContent,.bio,.profilePic{
    padding: 1rem;
}

.myContent{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 244, 237);
    color: rgb(107, 109, 109);
    border: none;
    margin: 0 auto 1.2rem auto;
    border-radius: 20px;
    box-shadow: 4px 4px 3px rgb(27, 24, 24);
    font-size: 1.1rem;
    overflow: hidden;
}

img{
    border-radius: 15px;
    width: 30%;
    height: auto;
    flex-shrink: 0;
}

.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.profilePic > a > img{
    animation-name: fading;
    animation-duration: 5s;
    animation-timing-function: ease;
}

table,th,td{
    border: 1px solid rgb(43, 30, 30);
    font-size: 1.2rem;
}

th,td{
    padding: 12px;
}

tr:nth-child(even){
    background-color: azure;
}

table{
    
    border-collapse: collapse;
    width: 80%;
    max-width: 700px;
}

tr{
    transition: 0.3s ease all;
}
tr:hover{ 
    background-color: rgba(208, 94, 45, 0.768);
    color: rgb(39, 38, 38);
    cursor: pointer;
}

/* Hobbies and interests section */

#interests{ 
    text-align: center;
    font-size: 2rem;
    color: rgb(39, 38, 38);
}

.interests{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.interests-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(244, 244, 237);
    color: rgb(107, 109, 109);
    border: none;
    margin: 10px 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 12px 40px rgba(23, 25, 24, 0.08);
    transition: 0.3s ease all;
}

.interests-card:hover {
    transform: translateY(-4px);
    box-shadow: 1px 1px 1px rgb(66, 63, 63);
   
}

.interests-card > img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.interests-card > strong{
    font-size: 1.4rem;
    color: rgb(39, 38, 38);
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
}
/* Footer elements */
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 38, 38);
    color: white;
    padding: 30px;
    margin: 0;
    font-family: sans-serif;
}

.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 30px;
}

.myContacts,.staff{
    font-size: 1.1rem;
    padding: 10px;
    line-height: 175%;
    max-width: 300px;
}

.footer-container a:hover{
    text-decoration: underline;
}

.myContacts, .staff {
    font-size: 1.1rem;
    padding: 10px;
    line-height: 175%;
    flex: 1;
    min-width: 250px;
   
}

.staff-list{
    list-style: none;
}

.favLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.favLinks > a{
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.4s ease;
}

.favLinks>a:hover{
    background-color: grey;
}

.favLinks > a > img{
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    animation-name: dropIcons;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes fading {
 0% {
    transform: translate(-150px, 150px);
    opacity: 0;
  }
  
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes dropIcons{
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




